@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

*{
  margin:0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  background-color: #ddd;
}
.heading{
  text-align: center;
  margin: 50px auto;
}
.heading h2{
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(199, 37, 37);
  margin: 50px auto;
}
.heading input{
  margin:0px auto;
  width: 90%;
  border: none;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 20px;
}
.search{
 margin-left: -40px;
 cursor: pointer;
}
.movieCard{
  margin-bottom: 30px;
}